/**********************************
Navbar du site - fonctionne grâce à bootstrap
***********************************/

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
}

/* menu navbar */

.menu_navbar .navbar-brand {
  height: 80px;
}

.menu_navbar .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #EAEAEA;
}
.menu_navbar .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.menu_navbar .navbar-toggle .icon-bar {
    background-color: #EAEAEA ;
}

/* CSS Transform Align Navbar Brand Text */
.navbar-alignit .navbar-header {
	-webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}
.navbar-alignit .navbar-brand {
	top: 50%;
	display: block;
	position: relative;
	height: auto;
	transform: translate(0,-50%);
	margin-right: 15px;
  margin-left: 15px;
}

.navbar-nav>li>.dropdown-menu {
	z-index: 9999;
}